.alumni-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    /* background-color: #f9f9f9; */
    /* padding: 40px; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */ 

  }
  
  .alumni-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #def1f8;
    padding: 25px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .alumni-name {
    font-size: 20px;
    color: rgb(68, 0, 255);
    font-weight: bold;
    margin: 10px 0 5px;
    font-weight: 600;
  }
  .alumni-status {
    font-size: 18px;
    margin: 5px 0;
    color: #3d3d3d;
    font-weight:400;
    margin-bottom: 30px;
  }
.alumni-status strong {
    font-weight: 600;
    
}

.alumni-status1{
  font-size: 17px;
  color: #3d3d3d;
  font-weight:400;
}

  .alumni-basic-info {
    background-color: #f3f3f3;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .alumni-basic-info p {
    font-size: 19px;
    margin: 8px 0;
    font-weight: 300;
    margin-bottom: 30px;
    
  }
  
  .alumni-basic-info strong {
    font-weight: bold;
    margin-right: 5px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .button1{
    width: 122px;
    height: 35px;
    border-radius: 8px;
    background-color:#1B4BDADB;
    color: #ffffff;
    border: none;
  }

  .box{
text-align: right;
margin-top: 0px;
  }
  