.internship-lists {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  
  .internship-lists h2 {
    margin-bottom: 20px;
  }
  
  .internship-lists p{
    margin-top: 10px;
    color: #757474;
  }
  .internship-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 20px;
  }
  
  .job-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .job-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .job-details h2 {
    
    margin: 0;
    color: #161439;
    font-size: 20px;
    font-weight: 600;
    font-size: 18px;
  }

  .job_comp h3{
    margin: 0;
    color: #6D6C80;
    font-size: 16px;
    font-weight: 400;
  }

  .job_comp{
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  

  .job-details .job-package,
  .job-details .job-location {
    display: flex;
    float: inline-start;
    align-items: center;
    margin: 5px 0;
  }
  
  .job-details .job-package svg,
  .job-details .job-location svg {
    margin-right: 8px;
  }

  .job-package img{
    height: 35px;
    width: 27px;
    border-radius: 0;
  }

  .sal1{
    color: #161439;
    font-weight: 600;
    font-size: 17px;
    margin: 0;
  }

  .sal{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:1px;
    margin: 0;
  }

  .sal2{
    color: #6D6C80;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    text-align: left;
  }

  .job-location img{
    border-radius: 5px;
    height: 28px;
    width: 29px;
  }
  
  .apply-button {
    background-color: #1B4BDADB;
    color: white;
    border: none;
    width: 114px;
    height: 33px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  
  .book{
    background-color: #5C5C5C1C;
    height: 27px;
    width: 28px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loc1 {
    color: #161439;
    font-weight: 600;
    font-size: 17px;
    margin: 0;
  }

  .loc2{
    color: #6D6C80;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
  }