.app{
    margin-left: 20%;
    margin-top: 80px;
    margin: 0;
    padding: 0;
   
    /* background-color: rgb(252, 252, 252); */
}

.App{
    
    height:'100vh';
    font-family: 'Poppins';
    /* margin: 0;
    padding: 0; */
}