@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.signup{
    height: 100%;
    margin: 0;
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.signup-container-left{
    height: 100vh;
    width: 47em;
    background-color: #ffffff;
}

.signup .welcome{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #ffffff;
}
.signup form {
    background-color: #ffffff;
}
.signup-form {   
    width: 440px;  
    height: 50%;  
    display: flex;  
    flex-direction: column;  
    padding: 90px;  
    justify-content: center;   
    border-radius: 10px; 
    background-color: #ffffff; 
    
}

.signup-header {
    text-align: center;
    width: 100%; 
    background-color: #ffffff;
}

.signup-header h2 {
    font-size: 20px;
    color: #161439;
    font-weight: 600;
    font-style: normal;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    background-color: #ffffff;
    
}
.signup-header .para{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.signup-header .input-container-signup {
    width: 100%; 
    margin-bottom: 15px;
    background-color: #ffffff;
}
.input-container-signup input{
    width: 22.75em;
    height: 3.25em;
    border: none;
    background-color: "#F0EDFFCC";
    border-radius: 16px;
    margin-left: 10px;
    margin-top: 3px;
}
.input-container-signup input:focus {
   border: none;
    outline: none;
    box-shadow: none;
}
.input-container-signup input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.dropdown-container{
    background-color: #ffffff;
    margin-left: 40px;
    margin-bottom: 70px;
}
.dropdown-container .input-wrapper{
    width: 22.75em;
    height: 3.25em;
    border: none;
    background-color: "#F0EDFFCC";
    border-radius: 16px;
    
    margin-top: 3px;
}
.dropdown-container select{
    width: 22.75em;
    height: 3.25em;
    border: none;
    background-color: "#F0EDFFCC";
    border-radius: 16px;
    margin-left: 10px;
    margin-top: 3px;
    /* appearance: none; */
    cursor: pointer;
    
}
.dropdown-select option{
    font-size: 18px;
    padding: 12px;
    background-color: #ffffffcc; 
    color: #000d58; 
    border-radius: 8px;
}
.dropdown-select option:hover {
    background-color: #E0D7FF;
}
.dropdown-container select:focus {
    border: none;
     outline: none;
     box-shadow: none;
 }
.icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #888;
}
.input-container-signup .input-wrapper{
    width: 22.75em;
    height: 3.25em;
    border: none;
    background-color: "#F0EDFFCC";
    border-radius: 16px;
    margin-left: 2.67em;
    display: flex;
    justify-content: center;
}

.login-button {
    width: 10em;
    height: 2.25em;
    font-size: 16px;
    font-weight: 700;
    background-image: linear-gradient(to right,#984dfa, #1B4BDADB); 
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow:   
    0px 2px 3px 0px #0000000A,  
    0px 6px 6px 0px #00000017,  
    0px 14px 8px 0px #0000000D,  
    0px 25px 10px 0px #00000003,  
    0px 39px 11px 0px #00000000;
}

.loginWithOthers p{
    font-size: 11px;
    background-color: #ffffff;
    color: #505050;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.loginWithOthers p::before,
.loginWithOthers p::after {
    content: "";
    width: 100px;
    height: 1px; 
    background-color:  rgb(243, 243, 243);
}

.loginWithOthers p::before {
    margin-right: 10px; 
}

.loginWithOthers p::after {
    margin-left: 10px; 
}

.signUp-container-right{
    background-color: #ffffff;
}
.signUp-with-google{
    width: 30em;
    height: 3.95em;
    font-size: 12px;
    font-weight: 100;
    background-color: #ffffff;
    color: rgb(56, 53, 53);
    border: 1px solid rgb(243, 243, 243);
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 3.70em;
    display: flex;
    justify-content: center;
    align-items: center;
}